{% load static %}
<div class="about-area ptb--120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-left-content">
          <div class="section-title">
            <span class="text-uppercase">about us</span>
            <h2>History of </h2><h2><span class="primary-color">Monaco</span></h2>
          </div>
          <p>Monaco,[a] officially the Principality of Monaco,[b] is a sovereign city-state and microstate on the French Riviera a few kilometres west of the Italian region of Liguria, in Western Europe, on the Mediterranean Sea. It is a semi-enclave bordered by France to the north, east and west. The principality is home to nearly 39,000 residents as of the 2020s,[11] of whom about 9,500 are Monégasque nationals.[12] It is recognised as one of the wealthiest and most expensive places in the world.[13][14] The official language of Monaco is French. Monégasque, English and Italian are also spoken and understood by many residents.[c]

With an area of 2.08 km2 (0.80 sq mi), Monaco is the second-smallest sovereign state in the world, after Vatican City. Its population of 38,367 in 2023 makes it the most densely populated sovereign state. Monaco has the world's shortest national coastline: 3.83 km (2.38 mi).[15] The principality is about 15 km (9.3 mi) from the border with Italy[16] and consists of nine administrative wards, the largest of which is Monte Carlo. </p>
          <a class="btn btn-primary btn-round" href="#">Read more</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="abt-right-thumb">
          <div class="abt-rt-inner">
            <a class="expand-video" href="https://www.youtube.com/watch?v=CROMT0-Uw4I"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
