{% load static %}
<!-- header top area start -->
<div class="header-top">
  <div class="container">
    <div class="row d-flex flex-center">
      <div class="col-sm-8">
        <div class="ht-address">
          <ul>
            <li>
              <i class="fa fa-phone"></i>+ 977 9841304359
            </li>
            <li>
              <i class="fa fa-envelope"></i>info@monaco.com
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ht-social">
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header top area end -->
<!-- header bottom area start -->
{% comment %} <div class="header-bottom">
  <div class="container">
    <div class="header-bottom-inner">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-9">
          <div class="logo">
            <a href=""><img src="{% static 'assets/images/logo.png' %}" alt="logo" /></a>
            <span class="logo-text">Honorary Consulate of Monaco</span>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-none d-lg-block">
          <div class="main-menu">
            <nav>
              <ul id="m_menu_active">
                <li class="active">
                  <a href="javascript:void(0);">Monaco</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Relationships</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Gallery</a>
                </li>

                <li>
                  <a href="javascript:void(0);">blog</a>
                  <ul class="submenu">
                    <li>
                      <a href="blog.html">blog</a>
                    </li>
                    <li>
                      <a href="blog-details.html">blog details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Current Affairs</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-12 d-block d-lg-none">
          <div id="mobile_menu"></div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
<!-- header bottom area end -->

<div class="header-bottom">
  <div class="container-fluid">
    <div class="header-bottom-inner">
      <div class="row align-items-center">
        <!-- Column 1: Logo + Text (Unchanged Width) -->
        <div class="col-lg-4 col-sm-4">
          <div class="logo">
            <a href=""><img src="{% static 'assets/images/logo.png' %}" alt="logo" class="logo-img" /></a>
            <span class="logo-text">Honorary Consulate of Monaco</span>
          </div>
          <div class="time-display">
            <p id="kathmandu-time" style="text-align: left;">Tue Mar 4, 12:10:34 PM</p>
          </div>
        </div>

        <!-- Column 2: Menu (Wider) -->
        <div class="col-lg-6 col-sm-4 d-none d-lg-block">
          <div class="main-menu">
            <nav>
              <ul id="m_menu_active">
                <li class="active">
                  <a href="javascript:void(0);">Monaco</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Relationships</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Gallery</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Blog</a>
                </li>
                <li>
                  <a href="contact.html">Current Affairs</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- <p id="monaco-time">Tuesday, March 4, 2025, 07:27:34 AM</p> -->
        <!-- Column 3: Second Logo (Smaller Width) -->
        <div class="col-lg-2 col-sm-4">
          <div class="second-logo">
            <a href=""><img src="{% static 'assets/images/Flag_of_Nepal.gif' %}" alt="second logo" class="second-logo-img" /></a>
          </div>
          <div class="time-display">
            <p id="kathmandu-time">Tue Mar 4, 12:10:34 PM</p>
          </div>
        </div>

        <!-- Mobile Menu (unchanged) -->
        <div class="col-12 d-block d-lg-none">
          <div id="mobile_menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
