{% load static %}
<div class="slider-area owl-carousel has-color">
  <div class="slider_item" style="background: url({% static 'assets/images/hero-slider-1.jpg' %}) center/cover no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="slider-content">
            <h1 style="color: aquamarine;">The Prince’s Palace</h1>
            {% comment %} <h1><span class="primary-color">Your bright future</span> is Our Mission</h1> {% endcomment %}
            <p style="color: chartreuse;">Located at the top of the city is the Prince’s Palace</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider_item" style="background: url({% static 'assets/images/hero-slider-2.jpg' %}) center/cover no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="slider-content">
            <h1 style="color: aquamarine;">The Cathedral of Monaco</h1>
            <p style="color: chartreuse;">The Cathedral of Monaco truly is a treat. The exterior architecture certainly is a site to behold, but it’s the interior where the real magnificence is.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider_item" style="background: url({% static 'assets/images/hero-slider-3.jpg' %}) center/cover no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="slider-content">
            <h1 style="color: aquamarine;">The Salle Garnier Opéra of Monte Carlo</h1>
            <p style="color: chartreuse;">The Salle Garnier Opéra can be found actually inside of the Monte-Carlo casino. The opera was constructed by Charles Garnier, who is most famously known for building the stunning Palais Garnier opera house in Paris.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider_item" style="background: url({% static 'assets/images/hero-slider-4.jpg' %}) center/cover no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9">
          <div class="slider-content">
            <h3>The Monte-Carlo Casino</h3>
            <p style="color: chartreuse;">Possibly the most famous casino in the world, the Monte-Carlo was constructed all the way back in 1863. Monaco at the time was facing bankruptcy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
