{% load static %}
<div class="testimonial-area ptb--120">
  <img class="tst-bg" src="{% static 'assets/images/bg/tst-bg-shape.png' %}" alt="image" />
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <div class="tst-carousel owl-carousel">
          <div class="testimonial-content pb--40">
            <div class="section-title sec-style-two">
              <span class="text-uppercase primary-color mb-0">happy Customer</span>
              <h2>Testimonial</h2>
            </div>
            <h3>‘‘ This is the test comment for Testimonial from My side ‘‘</h3>
            <h4>Mahesh Dangol</h4>
            <span>Backend Developer</span>
          </div>
          <div class="testimonial-content pb--40">
            <div class="section-title sec-style-two">
              <span class="text-uppercase primary-color mb-0">happy students</span>
              <h2>Testimonial</h2>
            </div>
            <h3>‘‘ This is the test comment for Testimonial from My side ‘‘</h3>
            <h4>Mahesh Maharjan</h4>
            <span>Frontend Developer</span>
          </div>
          <div class="testimonial-content pb--40">
            <div class="section-title sec-style-two">
              <span class="text-uppercase primary-color mb-0">happy students</span>
              <h2>Testimonial</h2>
            </div>
            <h3>‘‘ This is the test comment for Testimonial from My side ‘‘</h3>
            <h4>Md Shakya</h4>
            <span>App Developer</span>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
